* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 12rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-columns: [container-start] 1fr [center-start] repeat(10, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [container-end];
  grid-template-rows: repeat(3, -webkit-min-content);
  grid-template-rows: repeat(3, min-content);
  overflow-x: hidden;
}

.header {
  grid-column: center-start/center-end;
}
.header__overlay {
  display: none;
}
.header__mobile-menu {
  display: none;
}
.header__nav {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav--logo {
  width: 6rem;
  height: 6rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.header__nav--list__item a:visited,
.header__nav--list__item a:link {
  font-size: calc(1.2rem + 0.2vw);
  color: hsl(236deg, 13%, 42%);
  font-weight: 400;
  text-decoration: none;
  padding: 1rem 2rem;
  margin-right: 1rem;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.header__nav--list__item a:visited:hover,
.header__nav--list__item a:link:hover {
  color: hsl(35deg, 77%, 62%);
}
@media screen and (max-width: 600px) {
  .header__overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .header__overlay.active {
    display: block;
  }
  .header__mobile-menu {
    display: block;
    position: absolute;
    width: 4rem;
    height: 2rem;
    top: 4rem;
    right: 2rem;
    z-index: 3;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__mobile-menu--line-1, .header__mobile-menu--line-2, .header__mobile-menu--line-3 {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 0.3rem;
    opacity: 1;
    top: calc(50% - 1.5rem);
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header__mobile-menu--line-1 {
    -webkit-transform: translateY(-250%);
            transform: translateY(-250%);
  }
  .header__mobile-menu--line-3 {
    -webkit-transform: translateY(250%);
            transform: translateY(250%);
  }
  .header__mobile-menu.active span.header__mobile-menu--line-1 {
    -webkit-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
  }
  .header__mobile-menu.active span.header__mobile-menu--line-3 {
    -webkit-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
  }
  .header__mobile-menu.active span.header__mobile-menu--line-2 {
    opacity: 0;
  }
  .header__nav--list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    background-color: #fff;
    height: 100vh;
    width: 70vw;
    right: -100%;
    opacity: 0;
    top: 0;
    z-index: 2;
    padding: 15rem 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header__nav--list__item {
    margin-bottom: 3vh;
  }
  .header__nav--list__item a:visited,
.header__nav--list__item a:link {
    font-size: calc(1.5rem + 0.6vw);
    margin-bottom: 8vh;
  }
  .header__nav--list.active {
    right: 0;
    opacity: 1;
  }
}

.showcase {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 3vw;
     -moz-column-gap: 3vw;
          column-gap: 3vw;
}
.showcase__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 2vh;
}
.showcase__content--img {
  width: 100%;
  grid-column: span 2;
}
.showcase__content--heading {
  font-size: calc(1.5rem + 3vw);
  font-weight: 800;
}
.showcase__content--more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.showcase__content--more p {
  font-size: calc(1.2rem + 0.2vw);
  color: hsl(236deg, 13%, 42%);
  line-height: 3rem;
}
.showcase__content--more a {
  padding: 1.5rem 2rem;
  font-size: calc(1.2rem + 0.2vw);
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  letter-spacing: 0.4rem;
  background-color: hsl(5deg, 85%, 63%);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.showcase__content--more a:hover {
  background-color: black;
}
.showcase__news {
  background-color: black;
  color: white;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.showcase__news--heading {
  color: hsl(35deg, 77%, 62%);
  margin-bottom: 3vh;
}
.showcase__news--card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid hsl(236deg, 13%, 42%);
  padding: 2rem 0;
}
.showcase__news--card__title {
  margin-bottom: 1rem;
}
.showcase__news--card__para {
  font-size: calc(1.2rem + 0.2vw);
  color: hsl(236deg, 13%, 42%);
}
.showcase__news--card:last-child {
  border-bottom: none;
}
@media screen and (max-width: 600px) {
  .showcase {
    grid-template-columns: 1fr;
    row-gap: 6vh;
  }
  .showcase__content {
    grid-template-columns: 1fr;
  }
  .showcase__content--img {
    grid-column: span 1;
  }
}

.articles {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}
.articles__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  margin-bottom: 4rem;
}
.articles__article--img {
  margin-right: 1.5rem;
  width: 14rem;
  height: 16rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.articles__article--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles__article--content__number {
  font-size: calc(1.5rem + 1vw);
  color: hsl(233deg, 8%, 79%);
  font-weight: 700;
}
.articles__article--content__title {
  font-size: calc(1.2rem + 0.4vw);
}
.articles__article--content__para {
  font-size: calc(1.2rem + 0.2vw);
  color: hsl(236deg, 13%, 42%);
}
@media screen and (max-width: 600px) {
  .articles__article--content__number {
    font-size: calc(1.5rem + 3vw);
  }
}

.header, .showcase, .articles {
  padding: 5vh 2vw;
}

.showcase__news--heading {
  font-size: calc(1.5rem + 1vw);
  font-weight: 700;
}

.showcase__news--card__title {
  font-size: calc(1.2rem + 0.4vw);
}/*# sourceMappingURL=index.css.map */